@charset "utf-8";

$pink: #FF3F5E;
$text: #171717;

@import "grid";

/* default stuff */
html, body {
  margin: 0;
  font-family: sans-serif;
  color: $text; 
}
a {
  color: #ffcc00;
  text-decoration: none;
}

/* Page title */
h1 {
  font-size: 1.2em;
  margin-bottom: 1em; 

  @include media(xl) {
    font-size: 2em;
  }
  @include media(lg) {
    font-size: 1.7em;
  }
  @include media(md) {
    font-size: 1.4em;
  }
  @include media(sm) {
    font-size: 1em;
  }
  @include media(xs) {
    font-size: .8em;
  }
}

/* Logo & by line and quagliero */
.logo {
  background-color: $pink;
  color: #fff;
  display: inline-block;
  vertical-align: middle;
  margin: 0 2em 2em 0;
  padding: 1.2em;
  font-size: 10px;
  box-shadow: -0.5em -0.5em 0 lighten($pink,20%), 
  0.5em 0.5em 0 darken($pink,20%), 
  -1em -1em 0 lighten($pink,30%), 
  1em 1em 0 darken($pink,30%), 
  inset 0 0 0 lighten($pink,8%), 
  inset -0.66em 0 0 darken($pink, 8%), 
  inset -1.2em 0 0 lighten($pink,8%), 
  inset -1.2em 0.66em 0 darken($pink,12%), 
  inset -1.9em 0.66em 0 darken($pink,16%); 
}

.by-line {
  display: inline-block;
  vertical-align: middle;
  color: #333; 
}

.author {
  width: 60px;
  vertical-align: middle;
  border: 0;
}
/* Grid wrapper stuff */
.wrapper {
  max-width: 1140px;
  margin: 20px auto;
  padding: 0 20px; 
}

.demo-block {
  height: 2em;
  background: #d8d8d8;
  margin-bottom: 12px; 
}

/* Oh hai there. Yeszir, this is bad. 
   But it serves a purpose for a demo */
.grid {
    .grid {
        .demo-block {
            background: $pink;
        }
    }
    .grid--rev {
        .demo-block {
            background: #888;
        }
    }
    .grid--flush {
        > div:nth-child(odd) {
          .demo-block {
              background: darken($pink,35%);
          }
        }
    }
}

.xl-1-12, 
.lg-hide { 
    .demo-block {
        background-color: lighten($pink,30%); 
    }
}

