@charset "utf-8";

$main: #FF3F5E;

@import "grid";

html, body {
  margin: 0;
  font-family: sans-serif;
  color: #171717; 
}

h1 {
  font-size: 1.2em;
  margin-bottom: 1em; 
  @include media(xl) {
    font-size: 2em;
  }
  @include media(lg) {
    font-size: 1.55em;
  }
  @include media(md) {
    font-size: 1.2em;
  }
  @include media(sm) {
    font-size: .95em;
  }
  @include media(xs) {
    font-size: .8em;
  }
}

.logo {
  background-color: $main;
  color: #fff;
  display: inline-block;
  vertical-align: middle;
  margin: 0 2em 2em 0;
  padding: 1.2em;
  font-size: 8px;
  box-shadow: -0.5em -0.5em 0 #ffa5b4, 0.5em 0.5em 0 #d80023, -1em -1em 0 #ffbec9, 1em 1em 0 #bf001f, inset 0 0 0 #ff5973, inset -0.66em 0 0 #ff2549, inset -1.2em 0 0 #ff5973, inset -1.2em 0.66em 0 #ff163c, inset -1.9em 0.66em 0 #ec0026; }

.by-line {
  display: inline-block;
  vertical-align: middle;
  color: #333; 
}

.wrapper {
  max-width: 1140px;
  margin: 20px auto;
  padding: 0 20px; 
}

.demo-block {
  height: 2em;
  background: #d8d8d8;
  margin-bottom: 12px; 
}

/* Oh hai there. Yeszir, this is bad. 
   But it serves a purpose for a demo */
.grid {
    .grid {
        .demo-block {
            background: $main;
        }
    }
    .grid--rev {
        .demo-block {
            background: #888;
        }
    }
}

.xl-1-12, 
.lg-hide { 
    .demo-block {
        background-color: lighten($main,30%); 
    }
}

